.page {
  position: relative;
  width: 3840px;
  height: 2800px;
  overflow: hidden;
}

.box_1 {
  height: 2799px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/293cf9404205b26239925517e1340a01)
    100% no-repeat;
  background-size: 100% 100%;
  width: 3840px;
}

.box_2 {
  height: 2796px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/4f283165f0cd192d9384edfb7c6040c0)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 47px;
  width: 3778px;
  position: relative;
}

.box_3 {
  position: relative;
  width: 3840px;
  height: 2053px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/0b755da7ec7b1730558f3846bcfbd7b8)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: -47px;
}

.group_1 {
  height: 376px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/033dd16e346a264ac5bba81d74a1d7f7)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 11px;
  width: 3840px;
  position: relative;
}

.section_1 {
  width: 3585px;
  height: 251px;
  margin-top: -11px;
}

.image_1 {
  width: 91px;
  height: 82px;
  margin-top: 62px;
}

.text-wrapper_1 {
  width: 157px;
  height: 87px;
  margin: 75px 0 0 54px;
}

.text_1 {
  width: 157px;
  height: 45px;
  overflow-wrap: break-word;
  color: rgba(8, 196, 182, 1);
  font-size: 52px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  line-height: 52px;
}

.text_2 {
  width: 152px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(8, 196, 182, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 25px;
  margin: 17px 0 0 1px;
}

.text-wrapper_2 {
  width: 183px;
  height: 81px;
  margin: 81px 0 0 119px;
}

.text_3 {
  width: 124px;
  height: 39px;
  overflow-wrap: break-word;
  color: rgba(8, 196, 182, 1);
  font-size: 52px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 52px;
  margin-left: 33px;
}

.text_4 {
  width: 183px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(8, 196, 182, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 25px;
  margin-top: 17px;
}

.text_5 {
  width: 149px;
  height: 49px;
  overflow-wrap: break-word;
  color: rgba(8, 196, 182, 1);
  font-size: 52px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 52px;
  margin: 76px 0 0 77px;
}

.image-wrapper_1 {
  height: 251px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/680a2951f76557652aacde6255e49b92)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 47px;
  width: 1836px;
  position: relative;
}

.image_2 {
  width: 900px;
  height: 86px;
  margin: 123px 0 0 468px;
}

.image_3 {
  position: absolute;
  left: 293px;
  top: 135px;
  width: 1247px;
  height: 68px;
}

.text-wrapper_3 {
  height: 107px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/6a69eece992cba7fa5ea86378425e443)
    100% no-repeat;
  background-size: 100% 100%;
  width: 271px;
  margin: 48px 0 0 81px;
}

.text_6 {
  width: 152px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 29px;
  margin: 38px 0 0 60px;
}

.text-wrapper_4 {
  height: 107px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/cf875df54c9c9ab0f47209bc7b8c668d)
    100% no-repeat;
  background-size: 100% 100%;
  width: 269px;
  margin: 48px 0 0 2px;
}

.text_7 {
  width: 153px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 29px;
  margin: 38px 0 0 63px;
}

.image_4 {
  width: 68px;
  height: 68px;
  margin: 71px 0 0 77px;
}

.text_8 {
  width: 91px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 29px;
  margin: 87px 0 0 13px;
}

.image-wrapper_2 {
  width: 1748px;
  height: 28px;
  margin: 4px 0 104px 1019px;
}

.image_5 {
  width: 1748px;
  height: 28px;
}

.image_6 {
  position: absolute;
  left: 309px;
  top: 181px;
  width: 3224px;
  height: 29px;
}

.group_2 {
  width: 3576px;
  height: 948px;
  margin: 385px 0 333px 126px;
}

.section_2 {
  position: relative;
  width: 1760px;
  height: 947px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/0c18a309b0439de1e3085e481b3aef44)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_7 {
  width: 1653px;
  height: 35px;
  margin: -1px 0 0 60px;
}

.box_4 {
  width: 1585px;
  height: 199px;
  margin: 37px 0 0 76px;
}

.box_5 {
  width: 406px;
  height: 196px;
}

.text-group_1 {
  width: 398px;
  height: 146px;
  margin-left: 4px;
}

.text_9 {
  width: 397px;
  height: 50px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 52px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 52px;
  margin-left: 1px;
}

.text_10 {
  width: 172px;
  height: 34px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 31px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 31px;
  margin-top: 15px;
}

.text_11 {
  width: 396px;
  height: 26px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 27px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 27px;
  margin-top: 21px;
}

.box_6 {
  width: 406px;
  height: 44px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/3d5f6bc0c08491651b16db5d272af612)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 6px;
}

.text_12 {
  width: 86px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(15, 55, 52, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
  margin: 12px 0 0 21px;
}

.image_8 {
  width: 22px;
  height: 12px;
  margin: 16px 20px 0 257px;
}

.box_7 {
  width: 463px;
  height: 182px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/c73b0356e11448481cc602ad86940d92)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 17px 0 0 272px;
}

.image_9 {
  width: 68px;
  height: 56px;
  margin: 22px 0 0 26px;
}

.text-group_2 {
  width: 304px;
  height: 118px;
  margin: 31px 40px 0 25px;
}

.text_13 {
  width: 166px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 39px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 39px;
}

.paragraph_1 {
  width: 303px;
  height: 61px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  line-height: 35px;
  margin: 19px 0 0 1px;
}

.box_8 {
  width: 435px;
  height: 182px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/ffd9ce8039f69a997ed3b76b94773dbb)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 17px 0 0 9px;
}

.image_10 {
  width: 53px;
  height: 53px;
  margin: 22px 0 0 30px;
}

.text-group_3 {
  width: 297px;
  height: 118px;
  margin: 31px 32px 0 23px;
}

.text_14 {
  width: 165px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 39px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 39px;
}

.paragraph_2 {
  width: 296px;
  height: 61px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  line-height: 35px;
  margin: 19px 0 0 1px;
}

.box_9 {
  width: 1586px;
  height: 483px;
  margin: 91px 0 0 80px;
}

.text-wrapper_5 {
  width: 54px;
  height: 334px;
  margin-top: 142px;
}

.text_15 {
  width: 54px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 83px;
}

.text_16 {
  width: 54px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 83px;
  margin-top: 54px;
}

.text_17 {
  width: 54px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 83px;
  margin-top: 55px;
}

.text_18 {
  width: 37px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 83px;
  margin: 56px 0 0 8px;
}

.text_19 {
  width: 37px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 83px;
  margin: 54px 0 0 8px;
}

.group_3 {
  width: 1473px;
  height: 483px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/673d77f98d2afe961ed7c9d39986a4e1)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 17px;
}

.text_20 {
  width: 74px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 55px;
  margin: 25px 0 0 752px;
}

.group_4 {
  height: 402px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/fb85a68122821060672c8b1a4cbc5012)
    100% no-repeat;
  background-size: 100% 100%;
  width: 1377px;
  position: relative;
  margin: 16px 0 19px 34px;
}

.image_11 {
  width: 1398px;
  height: 18px;
  margin: 46px 0 0 -7px;
}

.group_5 {
  position: absolute;
  left: 345px;
  top: -143px;
  width: 103px;
  height: 548px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/aeb55fd78a988e2688fd0fac1abc7c26)
    100% no-repeat;
  background-size: 100% 100%;
}

.image-text_1 {
  width: 79px;
  height: 78px;
  margin: 70px 0 0 13px;
}

.label_1 {
  width: 31px;
  height: 43px;
  margin-left: 21px;
}

.text-group_4 {
  width: 79px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(0, 255, 0, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 79px;
  margin-top: 13px;
}

.text_21 {
  width: 72px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 55px;
  margin: 101px 0 0 -30px;
}

.image_12 {
  width: 1320px;
  height: 27px;
  margin: 20px 0 56px 216px;
}

.box_10 {
  position: absolute;
  left: 74px;
  top: 272px;
  width: 435px;
  height: 215px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/d9a941ddb209e09342f9367e4a57b368)
    100% no-repeat;
  background-size: 100% 100%;
}

.text_22 {
  width: 74px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(15, 55, 52, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
  margin: 43px 0 0 24px;
}

.image-text_2 {
  width: 406px;
  height: 84px;
  margin: 18px 0 50px 1px;
}

.text-wrapper_6 {
  height: 43px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/ea0c25f9985e0a38eafaea5409c9c0de)
    100% no-repeat;
  background-size: 100% 100%;
  width: 406px;
}

.text_23 {
  width: 86px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(15, 55, 52, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
  margin: 11px 0 0 23px;
}

.text-group_5 {
  width: 86px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(15, 55, 52, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
  margin: 21px 0 0 23px;
}

.section_3 {
  height: 948px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/7166c4470e687efcef39c99ab33e5b12)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 54px;
  width: 857px;
}

.box_11 {
  width: 437px;
  height: 98px;
  margin: 69px 0 0 67px;
}

.text-group_6 {
  width: 437px;
  height: 98px;
}

.text_24 {
  width: 437px;
  height: 50px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 52px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 52px;
}

.text_25 {
  width: 126px;
  height: 31px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 31px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 31px;
  margin-top: 17px;
}

.box_12 {
  width: 220px;
  height: 44px;
  margin: 17px 0 0 64px;
}

.text-wrapper_7 {
  height: 44px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/727e9d4423f72adee99fd6d3615f8221)
    100% no-repeat;
  background-size: 100% 100%;
  width: 99px;
}

.text_26 {
  width: 65px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(15, 55, 52, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
  margin: 13px 0 0 14px;
}

.text-wrapper_8 {
  height: 44px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/5472f77b885a04e73958aa8e3fd49a5d)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: -1px;
  width: 122px;
}

.text_27 {
  width: 88px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(15, 55, 52, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
  margin: 13px 0 0 15px;
}

.box_13 {
  width: 745px;
  height: 502px;
  margin: 114px 0 0 65px;
}

.text-wrapper_9 {
  width: 65px;
  height: 495px;
}

.text_28 {
  width: 65px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
  line-height: 83px;
}

.text_29 {
  width: 65px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
  line-height: 83px;
  margin-top: 101px;
}

.text_30 {
  width: 64px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
  line-height: 83px;
  margin: 103px 0 0 1px;
}

.text_31 {
  width: 63px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
  line-height: 83px;
  margin: 81px 0 0 2px;
}

.text_32 {
  width: 14px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
  line-height: 83px;
  margin: 100px 0 0 51px;
}

.image-wrapper_3 {
  height: 493px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/1753066d04a8f2614fd1496bff924dd0)
    100% no-repeat;
  background-size: 100% 100%;
  width: 553px;
  position: relative;
  margin: 9px 0 0 31px;
}

.image_13 {
  width: 600px;
  height: 18px;
  margin: 141px 0 0 -16px;
}

.image_14 {
  position: absolute;
  left: 22px;
  top: 13px;
  width: 513px;
  height: 462px;
}

.text_33 {
  width: 65px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
  line-height: 83px;
  margin: 147px 0 0 31px;
}

.image-wrapper_4 {
  width: 534px;
  height: 22px;
  margin: 22px 0 60px 172px;
}

.image_15 {
  width: 534px;
  height: 22px;
}

.section_4 {
  height: 948px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/ab109f54d1da4fa16b45d9a82d6fd83f)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 48px;
  width: 857px;
}

.box_14 {
  width: 437px;
  height: 98px;
  margin: 69px 0 0 64px;
}

.text-group_7 {
  width: 437px;
  height: 98px;
}

.text_34 {
  width: 437px;
  height: 50px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 52px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 52px;
}

.text_35 {
  width: 125px;
  height: 31px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 31px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 31px;
  margin: 17px 0 0 1px;
}

.box_15 {
  width: 745px;
  height: 567px;
  margin: 110px 0 0 65px;
}

.text-wrapper_10 {
  width: 63px;
  height: 559px;
}

.text_36 {
  width: 63px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
  line-height: 83px;
}

.text_37 {
  width: 63px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
  line-height: 83px;
  margin-top: 85px;
}

.text_38 {
  width: 48px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
  line-height: 83px;
  margin: 85px 0 0 15px;
}

.text_39 {
  width: 49px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
  line-height: 83px;
  margin: 81px 0 0 14px;
}

.text_40 {
  width: 48px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
  line-height: 83px;
  margin: 89px 0 0 15px;
}

.text_41 {
  width: 14px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
  line-height: 83px;
  margin: 87px 0 0 49px;
}

.image-wrapper_5 {
  height: 555px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/f53f4b50d04a85626fc89abcfafb2c66)
    100% no-repeat;
  background-size: 100% 100%;
  width: 553px;
  position: relative;
  margin: 12px 0 0 31px;
}

.image_16 {
  width: 600px;
  height: 18px;
  margin: 126px 0 0 -16px;
}

.image_17 {
  position: absolute;
  left: 22px;
  top: 39px;
  width: 513px;
  height: 498px;
}

.text_42 {
  width: 63px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
  line-height: 83px;
  margin: 135px 0 0 35px;
}

.image-wrapper_6 {
  width: 534px;
  height: 22px;
  margin: 22px 0 60px 170px;
}

.image_18 {
  width: 534px;
  height: 22px;
}

.group_6 {
  position: absolute;
  left: 126px;
  top: 374px;
  width: 855px;
  height: 338px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/888a7672c5baa8b8abd64d15058b37e2)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_19 {
  width: 822px;
  height: 28px;
  margin: -2px 0 0 55px;
}

.section_5 {
  width: 732px;
  height: 150px;
  margin: 75px 0 87px 59px;
}

.text_43 {
  width: 326px;
  height: 149px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 186px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 186px;
  margin-top: 1px;
}

.box_16 {
  width: 283px;
  height: 136px;
}

.box_17 {
  width: 199px;
  height: 54px;
  margin-left: 84px;
}

.label_2 {
  width: 26px;
  height: 48px;
  margin-top: 6px;
}

.text_44 {
  width: 154px;
  height: 54px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 74px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  line-height: 74px;
}

.text_45 {
  width: 281px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 39px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 39px;
  margin-top: 44px;
}

.group_7 {
  position: absolute;
  left: 1033px;
  top: 374px;
  width: 854px;
  height: 338px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/f7fcc0698b5f867bd24fefde9f03c55a)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_20 {
  width: 822px;
  height: 28px;
  margin: -2px 0 0 42px;
}

.block_1 {
  width: 741px;
  height: 150px;
  margin: 75px 0 87px 50px;
}

.text_46 {
  width: 345px;
  height: 149px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 186px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 186px;
  margin-top: 1px;
}

.box_18 {
  width: 284px;
  height: 136px;
}

.block_2 {
  width: 219px;
  height: 54px;
  margin-left: 65px;
}

.label_3 {
  width: 26px;
  height: 48px;
  margin-top: 6px;
}

.text_47 {
  width: 183px;
  height: 54px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 74px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  line-height: 74px;
}

.text_48 {
  width: 282px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 39px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 39px;
  margin-top: 44px;
}

.group_8 {
  position: absolute;
  left: 1940px;
  top: 374px;
  width: 854px;
  height: 338px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/c7c8c91fea8a94671482940a19062311)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_21 {
  width: 822px;
  height: 28px;
  margin: -2px 0 0 22px;
}

.group_9 {
  width: 731px;
  height: 136px;
  margin: 75px 0 101px 60px;
}

.text_49 {
  width: 277px;
  height: 133px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 186px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 186px;
  margin-top: 1px;
}

.box_19 {
  width: 283px;
  height: 136px;
}

.section_6 {
  width: 199px;
  height: 54px;
  margin-left: 84px;
}

.label_4 {
  width: 26px;
  height: 48px;
  margin-top: 6px;
}

.text_50 {
  width: 141px;
  height: 53px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 74px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  line-height: 74px;
}

.text_51 {
  width: 281px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 39px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 39px;
  margin-top: 44px;
}

.group_10 {
  position: absolute;
  left: 2848px;
  top: 374px;
  width: 854px;
  height: 338px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/f5a9a1d790fef96e3ef974711202644b)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_22 {
  width: 822px;
  height: 28px;
  margin: -2px 0 0 -12px;
}

.group_11 {
  width: 731px;
  height: 136px;
  margin: 75px 0 101px 62px;
}

.text_52 {
  width: 234px;
  height: 132px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 186px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 186px;
  margin-top: 1px;
}

.section_7 {
  width: 323px;
  height: 136px;
}

.block_3 {
  width: 202px;
  height: 54px;
  margin-left: 121px;
}

.label_5 {
  width: 26px;
  height: 48px;
  margin-top: 6px;
}

.text_53 {
  width: 145px;
  height: 54px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 74px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  line-height: 74px;
}

.text_54 {
  width: 321px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 39px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 39px;
  margin-top: 44px;
}

.image_23 {
  position: absolute;
  left: 1962px;
  top: 769px;
  width: 822px;
  height: 28px;
}

.image_24 {
  position: absolute;
  left: 2855px;
  top: 769px;
  width: 822px;
  height: 28px;
}

.box_20 {
  position: absolute;
  left: 0;
  top: 2053px;
  width: 3778px;
  height: 744px;
}

.group_12 {
  position: absolute;
  left: 80px;
  top: -274px;
  width: 1759px;
  height: 947px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/39d1d7f8e7e4579d9a006da14d74ed8a)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_25 {
  width: 1653px;
  height: 35px;
  margin: -1px 0 0 59px;
}

.box_21 {
  width: 1536px;
  height: 819px;
  margin: 34px 0 60px 79px;
}

.box_22 {
  width: 491px;
  height: 774px;
}

.text_55 {
  width: 491px;
  height: 50px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 52px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 52px;
}

.section_8 {
  width: 365px;
  height: 44px;
  margin: 24px 0 0 5px;
}

.box_23 {
  width: 186px;
  height: 44px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/bdef84319ffa35af3a1290e6cb55c732)
    100% no-repeat;
  background-size: 100% 100%;
}

.image-text_3 {
  width: 145px;
  height: 23px;
  margin: 11px 0 0 17px;
}

.label_6 {
  width: 26px;
  height: 23px;
}

.text-group_8 {
  width: 110px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(15, 55, 52, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
  margin-top: 1px;
}

.box_24 {
  width: 176px;
  height: 44px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/ce763373a6d5ec0413e42cac1198d02e)
    100% no-repeat;
  background-size: 100% 100%;
}

.image-text_4 {
  width: 126px;
  height: 22px;
  margin: 11px 0 0 24px;
}

.label_7 {
  width: 27px;
  height: 22px;
}

.text-group_9 {
  width: 86px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(15, 55, 52, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
  margin-top: 1px;
}

.section_9 {
  width: 285px;
  height: 44px;
  margin: 386px 0 0 5px;
}

.image_26 {
  width: 186px;
  height: 44px;
}

.text_56 {
  width: 79px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(248, 247, 252, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
  margin-top: 12px;
}

.section_10 {
  width: 285px;
  height: 44px;
  margin: 12px 0 0 5px;
}

.image_27 {
  width: 186px;
  height: 44px;
}

.text_57 {
  width: 77px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(248, 247, 252, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
  margin-top: 7px;
}

.section_11 {
  width: 285px;
  height: 44px;
  margin: 13px 0 0 5px;
}

.image_28 {
  width: 186px;
  height: 44px;
}

.text_58 {
  width: 77px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(248, 247, 252, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
  margin-top: 8px;
}

.section_12 {
  width: 285px;
  height: 44px;
  margin: 13px 0 0 5px;
}

.image_29 {
  width: 186px;
  height: 44px;
}

.text_59 {
  width: 79px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(248, 247, 252, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
  margin-top: 8px;
}

.section_13 {
  width: 286px;
  height: 44px;
  margin: 12px 0 0 5px;
}

.image_30 {
  width: 186px;
  height: 44px;
}

.text_60 {
  width: 80px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(248, 247, 252, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
  margin-top: 8px;
}

.box_25 {
  height: 808px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/2c5b1029fa3871a114e96fbc7f1a6ccc)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 11px;
  width: 812px;
}

.text-wrapper_11 {
  width: 433px;
  height: 109px;
  margin: 177px 0 0 238px;
}

.paragraph_3 {
  width: 91px;
  height: 94px;
  overflow-wrap: break-word;
  color: rgba(248, 247, 252, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  line-height: 35px;
  margin-top: 15px;
}

.paragraph_4 {
  width: 91px;
  height: 94px;
  overflow-wrap: break-word;
  color: rgba(248, 247, 252, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  line-height: 35px;
}

.text-wrapper_12 {
  width: 79px;
  height: 94px;
  margin: 77px 0 0 48px;
}

.paragraph_5 {
  width: 79px;
  height: 94px;
  overflow-wrap: break-word;
  color: rgba(248, 247, 252, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  line-height: 35px;
}

.text-wrapper_13 {
  width: 374px;
  height: 135px;
  margin: 100px 0 116px 227px;
}

.paragraph_6 {
  width: 91px;
  height: 94px;
  overflow-wrap: break-word;
  color: rgba(248, 247, 252, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  line-height: 35px;
  margin-top: 41px;
}

.paragraph_7 {
  width: 91px;
  height: 93px;
  overflow-wrap: break-word;
  color: rgba(248, 247, 252, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  line-height: 35px;
}

.group_13 {
  position: absolute;
  left: 1894px;
  top: -273px;
  width: 855px;
  height: 947px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/a5d1482e73671f2dc5a8131e787e5bc4)
    100% no-repeat;
  background-size: 100% 100%;
}

.section_14 {
  width: 747px;
  height: 50px;
  margin: 68px 0 0 66px;
}

.text_61 {
  width: 216px;
  height: 50px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 52px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 52px;
}

.group_14 {
  width: 313px;
  height: 41px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/9f4f2c6f813e509951bf1a87c1790c7f)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 7px;
}

.image-text_5 {
  width: 146px;
  height: 27px;
  margin: 8px 0 0 18px;
}

.label_8 {
  width: 27px;
  height: 27px;
}

.text-group_10 {
  width: 107px;
  height: 20px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 3px;
}

.text_62 {
  width: 107px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 20px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.text_63 {
  width: 107px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 20px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.section_15 {
  height: 697px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/774ab8f45384d8b25824fb3898f6a67f)
    100% no-repeat;
  background-size: 100% 100%;
  width: 830px;
  margin: 71px 0 61px 13px;
}

.text-wrapper_14 {
  width: 690px;
  height: 24px;
  margin: 57px 0 0 42px;
}

.text_64 {
  width: 100px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
}

.text_65 {
  width: 100px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-left: 51px;
}

.text_66 {
  width: 99px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-left: 42px;
}

.text_67 {
  width: 73px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 1px 0 0 63px;
}

.text_68 {
  width: 99px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 1px 0 0 63px;
}

.text-wrapper_15 {
  width: 730px;
  height: 23px;
  margin: 89px 0 0 40px;
}

.text_69 {
  width: 106px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-top: 1px;
}

.text_70 {
  width: 50px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-left: 48px;
}

.text_71 {
  width: 63px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 1px 0 0 92px;
}

.text_72 {
  width: 71px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 1px 0 0 99px;
}

.text_73 {
  width: 136px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 2px 0 0 65px;
}

.text-wrapper_16 {
  width: 729px;
  height: 23px;
  margin: 93px 0 0 40px;
}

.text_74 {
  width: 107px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-top: 1px;
}

.text_75 {
  width: 50px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-left: 47px;
}

.text_76 {
  width: 63px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 1px 0 0 92px;
}

.text_77 {
  width: 74px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 1px 0 0 97px;
}

.text_78 {
  width: 135px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 2px 0 0 64px;
}

.text-wrapper_17 {
  width: 729px;
  height: 24px;
  margin: 92px 0 0 40px;
}

.text_79 {
  width: 107px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-top: 1px;
}

.text_80 {
  width: 50px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-left: 47px;
}

.text_81 {
  width: 63px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 1px 0 0 92px;
}

.text_82 {
  width: 73px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 1px 0 0 98px;
}

.text_83 {
  width: 135px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 2px 0 0 64px;
}

.text-wrapper_18 {
  width: 730px;
  height: 23px;
  margin: 93px 0 0 40px;
}

.text_84 {
  width: 108px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-top: 1px;
}

.text_85 {
  width: 50px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-left: 46px;
}

.text_86 {
  width: 50px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 1px 0 0 91px;
}

.text_87 {
  width: 74px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-left: 111px;
}

.text_88 {
  width: 136px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 2px 0 0 64px;
}

.text-wrapper_19 {
  width: 729px;
  height: 23px;
  margin: 91px 0 42px 40px;
}

.text_89 {
  width: 107px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-top: 1px;
}

.text_90 {
  width: 50px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-left: 47px;
}

.text_91 {
  width: 63px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 1px 0 0 92px;
}

.text_92 {
  width: 73px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-left: 98px;
}

.text_93 {
  width: 135px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin: 2px 0 0 64px;
}

.group_15 {
  position: absolute;
  left: 2798px;
  top: -274px;
  width: 856px;
  height: 947px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/6cf46ab0cd9cd0288da5ed97c5a9444c)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_31 {
  width: 822px;
  height: 28px;
  margin: -1px 0 0 10px;
}

.text_94 {
  width: 490px;
  height: 50px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 52px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 52px;
  margin: 42px 0 0 67px;
}

.section_16 {
  width: 406px;
  height: 45px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/772bbd6828e26ab9e8b0786e450402c1)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 15px 0 0 66px;
}

.text_95 {
  width: 68px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(15, 55, 52, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
  margin: 13px 0 0 31px;
}

.image_32 {
  width: 22px;
  height: 11px;
  margin: 17px 20px 0 265px;
}

.section_17 {
  width: 739px;
  height: 639px;
  margin: 25px 0 104px 66px;
}

.image-wrapper_7 {
  width: 83px;
  height: 214px;
  margin-top: 424px;
}

.image_33 {
  width: 83px;
  height: 44px;
}

.image_34 {
  width: 83px;
  height: 44px;
  margin-top: 13px;
}

.image_35 {
  width: 83px;
  height: 44px;
  margin-top: 13px;
}

.image_36 {
  width: 83px;
  height: 44px;
  margin-top: 12px;
}

.block_4 {
  position: relative;
  width: 634px;
  height: 639px;
}

.text_96 {
  width: 108px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(248, 247, 252, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
  margin-top: 430px;
}

.text_97 {
  width: 132px;
  height: 26px;
  overflow-wrap: break-word;
  color: rgba(248, 247, 252, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
  margin: 605px 0 0 -107px;
}

.image-text_6 {
  width: 248px;
  height: 139px;
  margin-left: 231px;
}

.image_37 {
  width: 49px;
  height: 133px;
  margin-top: 6px;
}

.text-group_11 {
  width: 192px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
}

.image-text_7 {
  width: 209px;
  height: 82px;
  margin: 557px 20px 0 -207px;
}

.image_38 {
  width: 83px;
  height: 77px;
}

.text-group_12 {
  width: 118px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(76, 252, 234, 1);
  font-size: 23px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 23px;
  margin-top: 59px;
}

.box_26 {
  height: 523px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/ab403f84ad7f136646ebf204b284baa8)
    100% no-repeat;
  background-size: 100% 100%;
  width: 522px;
  position: absolute;
  left: 112px;
  top: 58px;
}

.group_16 {
  height: 140px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/6319fb2c607e8498ad180f402b7e027a)
    100% no-repeat;
  background-size: 100% 100%;
  width: 123px;
  margin: 38px 0 0 110px;
}

.image-wrapper_8 {
  height: 104px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/ae956926c69d1839c5654155c8fe49ea)
    100% no-repeat;
  background-size: 100% 100%;
  width: 45px;
  margin: 13px 0 0 97px;
}

.image_39 {
  width: 17px;
  height: 82px;
  margin: 19px 0 0 37px;
}

.text_98 {
  position: absolute;
  left: 0;
  top: 486px;
  width: 133px;
  height: 26px;
  overflow-wrap: break-word;
  color: rgba(248, 247, 252, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
}

.text_99 {
  position: absolute;
  left: 2px;
  top: 548px;
  width: 131px;
  height: 26px;
  overflow-wrap: break-word;
  color: rgba(248, 247, 252, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 35px;
}

.image_40 {
  position: absolute;
  left: 459px;
  top: 229px;
  width: 53px;
  height: 107px;
}

.section_18 {
  position: absolute;
  left: 66px;
  top: 177px;
  width: 434px;
  height: 294px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/a2d55c1b8d057f93919e9a74403043bf)
    100% no-repeat;
  background-size: 100% 100%;
}

.text_100 {
  width: 68px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(15, 55, 52, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
  margin: 37px 0 0 31px;
}

.text_101 {
  width: 68px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(15, 55, 52, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
  margin: 27px 0 0 31px;
}

.text_102 {
  width: 68px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(15, 55, 52, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
  margin: 28px 0 0 31px;
}

.text_103 {
  width: 68px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(15, 55, 52, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
  margin: 27px 0 0 31px;
}

.text-wrapper_20 {
  height: 43px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/032d033bcde8baa58891f90993e19234)
    100% no-repeat;
  background-size: 100% 100%;
  width: 406px;
  margin: 16px 0 36px 0;
}

.text_104 {
  width: 68px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(15, 55, 52, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
  margin: 11px 0 0 31px;
}

.image_41 {
  position: absolute;
  left: 1915px;
  top: -276px;
  width: 822px;
  height: 28px;
}
