.page {
  position: relative;
  width: 3840px;
  height: 2160px;
  overflow: hidden;
}

.section_1 {
  height: 2160px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/dc20ba296714ff0f35cc87fd7ef9883c)
    100% no-repeat;
  background-size: 100% 100%;
  width: 3840px;
}

.image-wrapper_1 {
  height: 2160px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/c1a28c7b25832c055de9ac58178861ea)
    100% no-repeat;
  background-size: 100% 100%;
  width: 3840px;
}

.image_1 {
  width: 2918px;
  height: 2160px;
  margin-left: 477px;
}

.section_2 {
  height: 2053px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/44d704f286adfadcae10fd4c1dd95251)
    100% no-repeat;
  background-size: 100% 100%;
  width: 3840px;
  position: absolute;
  left: 0;
  top: 0;
}

.box_1 {
  height: 376px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/e5fadf362d6ca04e5eb19c11222c58a6)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 11px;
  width: 3840px;
  position: relative;
}

.box_22 {
  width: 3585px;
  height: 114px;
  margin: 37px 0 0 126px;
}

.image_2 {
  width: 91px;
  height: 82px;
  margin-top: 14px;
}

.text-wrapper_2 {
  width: 157px;
  height: 87px;
  margin: 27px 0 0 54px;
}

.text_6 {
  width: 157px;
  height: 45px;
  overflow-wrap: break-word;
  color: rgba(8, 196, 182, 1);
  font-size: 52px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  line-height: 52px;
}

.text_7 {
  width: 152px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(8, 196, 182, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 25px;
  margin: 17px 0 0 1px;
}

.text-wrapper_3 {
  width: 183px;
  height: 81px;
  margin: 33px 0 0 119px;
}

.text_8 {
  width: 124px;
  height: 39px;
  overflow-wrap: break-word;
  color: rgba(8, 196, 182, 1);
  font-size: 52px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 52px;
  margin-left: 33px;
}

.text_9 {
  width: 183px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(8, 196, 182, 1);
  font-size: 25px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 25px;
  margin-top: 17px;
}

.text_10 {
  width: 149px;
  height: 49px;
  overflow-wrap: break-word;
  color: rgba(8, 196, 182, 1);
  font-size: 52px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 52px;
  margin: 28px 0 0 77px;
}

.image_8 {
  height: 107px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/c456d773b913cc04d6dc741ada079f61)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 1964px;
  width: 271px;
}

.text_11 {
  width: 152px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 29px;
  margin: 38px 0 0 60px;
}

.image-wrapper_7 {
  height: 107px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/a33489d40ad7d210ead8d1ac1f50c7f9)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 2px;
  width: 269px;
}

.text_12 {
  width: 153px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 29px;
  margin: 38px 0 0 63px;
}

.image_16 {
  width: 68px;
  height: 68px;
  margin: 23px 0 0 77px;
}

.text_13 {
  width: 91px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 29px;
  margin: 39px 0 0 13px;
}

.image-wrapper_49 {
  width: 1748px;
  height: 28px;
  margin: 93px 0 104px 1019px;
}

.image_9 {
  width: 1748px;
  height: 28px;
}

.image-wrapper_5 {
  height: 251px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/2200561f65eb76640103f7e5eace39b9)
    100% no-repeat;
  background-size: 100% 100%;
  width: 1836px;
  position: absolute;
  left: 1003px;
  top: -11px;
}

.image_10 {
  width: 900px;
  height: 86px;
  margin: 123px 0 0 468px;
}

.image_11 {
  position: absolute;
  left: 293px;
  top: 135px;
  width: 1247px;
  height: 68px;
}

.image_12 {
  position: absolute;
  left: 309px;
  top: 181px;
  width: 3224px;
  height: 29px;
}

.box_23 {
  position: absolute;
  left: 0;
  top: 387px;
  width: 3840px;
  height: 1667px;
}

.image-wrapper_6 {
  height: 1618px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/61db4a92f4cfd50830e2ac04331d68e9)
    100% no-repeat;
  background-size: 100% 100%;
  width: 2124px;
  position: absolute;
  left: 844px;
  top: 81px;
}

.text-wrapper_4 {
  width: 104px;
  height: 33px;
  margin: 179px 0 0 1131px;
}

.text_14 {
  width: 104px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 35px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 35px;
}

.text-wrapper_5 {
  width: 102px;
  height: 33px;
  margin: 71px 0 0 481px;
}

.text_15 {
  width: 102px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 35px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 35px;
}

.block_8 {
  width: 1828px;
  height: 1098px;
  margin: 138px 0 66px 146px;
}

.image_46 {
  width: 200px;
  height: 200px;
  margin-top: 898px;
}

.text-wrapper_6 {
  position: relative;
  width: 103px;
  height: 33px;
  margin: 57px 0 0 101px;
}

.text_16 {
  width: 103px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 35px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 35px;
}

.text_17 {
  position: absolute;
  left: 0;
  top: 0;
  width: 103px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 35px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 35px;
}

.text_18 {
  width: 103px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 35px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 35px;
  margin: 815px 0 0 104px;
}

.text_19 {
  width: 101px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 35px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 35px;
  margin: 17px 0 0 79px;
}

.block_9 {
  position: relative;
  width: 648px;
  height: 974px;
  margin-left: 6px;
}

.image_13 {
  height: 950px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/66ea4df184401de56248761d7f6aba46)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 24px;
  width: 648px;
}

.text-wrapper_7 {
  width: 105px;
  height: 33px;
  margin: 221px 0 0 184px;
}

.text_20 {
  width: 105px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 35px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 35px;
}

.text-wrapper_8 {
  width: 102px;
  height: 31px;
  margin: 209px 0 0 327px;
}

.text_21 {
  width: 102px;
  height: 31px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 35px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 35px;
}

.text-wrapper_9 {
  width: 104px;
  height: 33px;
  margin: 167px 0 0 339px;
}

.text_22 {
  width: 104px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 35px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 35px;
}

.text-wrapper_10 {
  width: 104px;
  height: 33px;
  margin: 163px 0 60px 87px;
}

.text_23 {
  width: 104px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 35px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 35px;
}

.text_24 {
  position: absolute;
  left: 288px;
  top: 0;
  width: 104px;
  height: 34px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 35px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 35px;
}

.text_25 {
  width: 101px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 35px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 35px;
  margin: 512px 0 0 -9px;
}

.text_26 {
  width: 103px;
  height: 32px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 35px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 35px;
  margin: 589px 0 0 188px;
}

.box_3 {
  position: absolute;
  left: 12px;
  top: -11px;
  width: 901px;
  height: 1761px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/a5b6034439091109c42ab95b965c02b9)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_18 {
  width: 822px;
  height: 28px;
  margin: -1px 0 0 67px;
}

.text_27 {
  width: 159px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 39px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 39px;
  margin: 32px 0 0 86px;
}

.image_20 {
  width: 163px;
  height: 8px;
  margin: 12px 0 0 85px;
}

.section_12 {
  width: 873px;
  height: 954px;
  margin: 24px 0 0 27px;
}

.group_17 {
  position: relative;
  width: 822px;
  height: 954px;
}

.group_18 {
  width: 760px;
  height: 470px;
  margin-left: 42px;
}

.block_3 {
  width: 373px;
  height: 470px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/fd7d9f7a74d95ac5790d56ee155520f4)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_21 {
  width: 333px;
  height: 12px;
  margin-left: 18px;
}

.image-text_1 {
  position: relative;
  width: 316px;
  height: 384px;
  margin: 40px 0 0 37px;
}

.text-group_1 {
  position: relative;
  width: 241px;
  height: 384px;
  margin-left: 36px;
}

.text_28 {
  width: 41px;
  height: 90px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 127px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 127px;
  margin-left: 99px;
}

.paragraph_1 {
  width: 241px;
  height: 117px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 13px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  line-height: 25px;
  margin-top: 177px;
}

.text_29 {
  position: absolute;
  left: 99px;
  top: 0;
  width: 41px;
  height: 90px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 127px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 127px;
}

.image-wrapper_8 {
  position: absolute;
  left: 0;
  top: 43px;
  width: 316px;
  height: 211px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/ad28f042c12915955d9eaf2c6d4c18ce)
    100% no-repeat;
  background-size: 100% 100%;
}

.text_30 {
  width: 126px;
  height: 31px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 33px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 66px;
  margin: 79px 0 0 89px;
}

.image_22 {
  width: 306px;
  height: 24px;
  margin: 46px 0 31px 4px;
}

.image_23 {
  width: 316px;
  height: 11px;
  margin: 22px 0 1px 34px;
}

.block_4 {
  width: 372px;
  height: 470px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/8c5ed16ca568c7d2c04f95cf41ed72b3)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_24 {
  width: 333px;
  height: 12px;
  margin-left: 21px;
}

.image-text_2 {
  position: relative;
  width: 316px;
  height: 385px;
  margin: 39px 0 0 31px;
}

.text-group_2 {
  width: 220px;
  height: 385px;
  margin-left: 50px;
}

.text_31 {
  width: 148px;
  height: 91px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 127px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 127px;
  margin-left: 35px;
}

.paragraph_2 {
  width: 220px;
  height: 117px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 13px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  line-height: 25px;
  margin-top: 177px;
}

.image-wrapper_9 {
  position: absolute;
  left: 0;
  top: 44px;
  width: 316px;
  height: 211px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/d581ca83925b9690cb40c9b2c0bcecf7)
    100% no-repeat;
  background-size: 100% 100%;
}

.text_32 {
  width: 195px;
  height: 32px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 33px;
  font-family: SourceHanSansCN-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 66px;
  margin: 78px 0 0 61px;
}

.image_25 {
  width: 305px;
  height: 24px;
  margin: 46px 0 31px 3px;
}

.image_28 {
  width: 316px;
  height: 11px;
  margin: 22px 0 1px 36px;
}

.group_3 {
  height: 343px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/3d57d306705ffb6916cb38b74bdfa29f)
    100% no-repeat;
  background-size: 100% 100%;
  width: 763px;
  position: relative;
  margin: 141px 0 0 39px;
}

.image-wrapper_10 {
  width: 66px;
  height: 295px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/a6a4c1258b637ef25051776e2eafe2ca)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 47px 0 0 508px;
}

.image-text_3 {
  width: 56px;
  height: 47px;
  margin: 48px 0 0 4px;
}

.image_32 {
  width: 18px;
  height: 25px;
  margin-left: 18px;
}

.text-group_3 {
  width: 56px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 17px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 55px;
  margin-top: 6px;
}

.image_34 {
  position: absolute;
  left: -1px;
  top: 146px;
  width: 765px;
  height: 199px;
}

.image_35 {
  position: absolute;
  left: 0;
  top: 608px;
  width: 822px;
  height: 27px;
}

.image_36 {
  width: 28px;
  height: 557px;
  margin-top: 360px;
}

.text_33 {
  width: 734px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 55px;
  margin: 21px 0 0 84px;
}

.image_39 {
  width: 288px;
  height: 8px;
  margin: 130px 0 0 86px;
}

.text-wrapper_11 {
  width: 746px;
  height: 64px;
  margin-left: 84px;
}

.text_1 {
  width: 44px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 22px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 55px;
  margin-top: 39px;
}

.text_2 {
  width: 114px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 22px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 55px;
  margin: 38px 0 0 80px;
}

.text_34 {
  width: 43px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 22px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 55px;
  margin: 38px 0 0 45px;
}

.text_3 {
  width: 76px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 55px;
  margin: 39px 0 0 134px;
}

.text_4 {
  width: 99px;
  height: 64px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 89px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 89px;
  margin-left: 13px;
}

.text_5 {
  width: 80px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 39px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 39px;
  margin: 24px 0 0 18px;
}

.image_41 {
  width: 747px;
  height: 2px;
  margin: 14px 0 0 83px;
}

.section_13 {
  width: 745px;
  height: 304px;
  margin: 23px 0 80px 84px;
}

.paragraph_3 {
  width: 68px;
  height: 299px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  line-height: 55px;
}

.paragraph_4 {
  width: 42px;
  height: 294px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  line-height: 55px;
  margin: 3px 0 0 58px;
}

.paragraph_5 {
  width: 74px;
  height: 294px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 21px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  line-height: 55px;
  margin: 3px 0 0 117px;
}

.image_45 {
  width: 346px;
  height: 302px;
  margin: 2px 0 0 40px;
}

.image_40 {
  position: absolute;
  left: 83px;
  top: 668px;
  width: 294px;
  height: 585px;
}

.box_6 {
  position: absolute;
  left: 2927px;
  top: -7px;
  width: 901px;
  height: 1760px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/fbd4e718b60b4f13297e261c9f6587ce)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_24 {
  width: 756px;
  height: 116px;
  margin: -11px 0 0 76px;
}

.image-wrapper_12 {
  width: 393px;
  height: 116px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/7098fbcc8b89cec2705d62418b96fcef)
    100% no-repeat;
  background-size: 100% 100%;
}

.text_35 {
  width: 233px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 29px;
  margin: 42px 0 0 74px;
}

.image_47 {
  width: 264px;
  height: 12px;
  margin: 10px 0 24px 56px;
}

.image-wrapper_13 {
  height: 116px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/0bdaf14f40f338b7e39bfa03e716e723)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: -30px;
  width: 393px;
  position: relative;
}

.text_36 {
  width: 142px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  line-height: 29px;
  margin: 42px 0 0 121px;
}

.image_48 {
  position: absolute;
  left: -433px;
  top: 11px;
  width: 822px;
  height: 28px;
}

.text-wrapper_12 {
  width: 534px;
  height: 43px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 39px;
  margin: 62px 0 0 79px;
}

.text_37 {
  width: 534px;
  height: 43px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 39px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 39px;
}

.text_38 {
  width: 534px;
  height: 43px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 33px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  line-height: 33px;
}

.image_51 {
  width: 867px;
  height: 8px;
  margin: 18px 0 0 17px;
}

.box_25 {
  width: 828px;
  height: 955px;
  margin: 34px 0 0 -1px;
}

.image_52 {
  width: 28px;
  height: 557px;
  margin-top: 227px;
}

.group_19 {
  width: 762px;
  height: 955px;
}

.box_7 {
  width: 762px;
  height: 291px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/3abf6fb8275e2333d901cd01990fd2d7)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_53 {
  width: 129px;
  height: 166px;
  margin: 72px 0 0 29px;
}

.group_20 {
  width: 540px;
  height: 267px;
  margin: -10px 45px 0 19px;
}

.image-wrapper_14 {
  height: 112px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/b04c0bccfe42240c71597c84f1ef3b74)
    100% no-repeat;
  background-size: 100% 100%;
  width: 416px;
  position: relative;
}

.text_39 {
  width: 190px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(87, 144, 66, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 29px;
  margin: 35px 0 0 108px;
}

.image_55 {
  position: absolute;
  left: -157px;
  top: 8px;
  width: 708px;
  height: 19px;
}

.block_10 {
  width: 490px;
  height: 141px;
  margin: 14px 0 0 50px;
}

.text-group_4 {
  width: 306px;
  height: 131px;
  margin-top: 10px;
}

.text-wrapper_13 {
  width: 306px;
  height: 70px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  line-height: 41px;
}

.paragraph_6 {
  width: 306px;
  height: 70px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  line-height: 41px;
}

.text_40 {
  width: 306px;
  height: 70px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 41px;
}

.text_41 {
  width: 306px;
  height: 70px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  line-height: 41px;
}

.text_42 {
  width: 94px;
  height: 31px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 31px;
  font-family: SourceHanSansCN-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 31px;
  margin: 30px 0 0 106px;
}

.text-wrapper_14 {
  width: 141px;
  height: 138px;
}

.text_43 {
  width: 141px;
  height: 65px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 91px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 91px;
}

.text_44 {
  width: 73px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 31px;
  font-family: SourceHanSansCN-Normal;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 31px;
  margin: 40px 0 0 32px;
}

.box_8 {
  width: 762px;
  height: 291px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/e5f4c5580182f8409b02c7eac576758b)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 40px;
}

.image_60 {
  width: 129px;
  height: 166px;
  margin: 72px 0 0 29px;
}

.section_14 {
  width: 540px;
  height: 266px;
  margin: -10px 45px 0 19px;
}

.image-wrapper_17 {
  height: 112px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/0b3224f3d6f77877f38dc1d9da40e3e8)
    100% no-repeat;
  background-size: 100% 100%;
  width: 416px;
  position: relative;
}

.text_45 {
  width: 191px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(87, 144, 66, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 29px;
  margin: 34px 0 0 108px;
}

.image_62 {
  position: absolute;
  left: -157px;
  top: 10px;
  width: 708px;
  height: 19px;
}

.group_21 {
  width: 490px;
  height: 141px;
  margin: 13px 0 0 50px;
}

.text-group_5 {
  width: 306px;
  height: 131px;
  margin-top: 10px;
}

.text-wrapper_15 {
  width: 306px;
  height: 70px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  line-height: 41px;
}

.paragraph_7 {
  width: 306px;
  height: 70px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  line-height: 41px;
}

.text_46 {
  width: 306px;
  height: 70px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 41px;
}

.text_47 {
  width: 306px;
  height: 70px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  line-height: 41px;
}

.text_48 {
  width: 94px;
  height: 31px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 31px;
  font-family: SourceHanSansCN-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 31px;
  margin: 30px 0 0 106px;
}

.text-wrapper_16 {
  width: 141px;
  height: 138px;
}

.text_49 {
  width: 141px;
  height: 65px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 91px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 91px;
}

.text_50 {
  width: 73px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 31px;
  font-family: SourceHanSansCN-Normal;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 31px;
  margin: 40px 0 0 32px;
}

.box_9 {
  width: 762px;
  height: 291px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/fd683419adb25acb811311d842f0c98e)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 42px;
}

.image_67 {
  width: 129px;
  height: 166px;
  margin: 72px 0 0 29px;
}

.box_26 {
  width: 540px;
  height: 268px;
  margin: -11px 45px 0 19px;
}

.image-wrapper_20 {
  height: 113px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/89eef03e636f1c0139988252c43753ec)
    100% no-repeat;
  background-size: 100% 100%;
  width: 416px;
  position: relative;
}

.text_51 {
  width: 191px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(87, 144, 66, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 29px;
  margin: 36px 0 0 108px;
}

.image_69 {
  position: absolute;
  left: -157px;
  top: 11px;
  width: 708px;
  height: 19px;
}

.group_22 {
  width: 490px;
  height: 141px;
  margin: 14px 0 0 50px;
}

.text-group_6 {
  width: 306px;
  height: 131px;
  margin-top: 10px;
}

.text-wrapper_17 {
  width: 306px;
  height: 70px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: center;
  line-height: 41px;
}

.paragraph_8 {
  width: 306px;
  height: 70px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  line-height: 41px;
}

.text_52 {
  width: 306px;
  height: 70px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 41px;
}

.text_53 {
  width: 306px;
  height: 70px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 29px;
  font-family: SourceHanSansCN-Light;
  font-weight: 300;
  text-align: left;
  line-height: 41px;
}

.text_54 {
  width: 94px;
  height: 31px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 31px;
  font-family: SourceHanSansCN-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 31px;
  margin: 30px 0 0 106px;
}

.text-wrapper_18 {
  width: 141px;
  height: 138px;
}

.text_55 {
  width: 141px;
  height: 65px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 91px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 91px;
}

.text_56 {
  width: 73px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 31px;
  font-family: SourceHanSansCN-Normal;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 31px;
  margin: 40px 0 0 32px;
}

.box_27 {
  width: 742px;
  height: 42px;
  margin: 105px 0 0 72px;
}

.text_57 {
  width: 246px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(76, 253, 235, 1);
  font-size: 39px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 39px;
}

.image_75 {
  width: 60px;
  height: 40px;
  margin-top: 2px;
}

.image_76 {
  width: 244px;
  height: 8px;
  margin: 8px 0 0 73px;
}

.box_28 {
  width: 738px;
  height: 196px;
  margin: 37px 0 0 83px;
}

.image-wrapper_24 {
  height: 196px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/347016dbe7ee21d608da5fe420096a75)
    100% no-repeat;
  background-size: 100% 100%;
  width: 192px;
}

.text_58 {
  width: 101px;
  height: 54px;
  overflow-wrap: break-word;
  color: rgba(121, 219, 207, 1);
  font-size: 73px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 73px;
  margin: 78px 0 0 45px;
}

.image-wrapper_25 {
  height: 196px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/583d5be19e802723cd0625e6252cec97)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 86px;
  width: 195px;
}

.text_59 {
  width: 102px;
  height: 54px;
  overflow-wrap: break-word;
  color: rgba(121, 219, 207, 1);
  font-size: 73px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 73px;
  margin: 78px 0 0 48px;
}

.image-wrapper_26 {
  height: 196px;
  background: url(https://lanhu-oss-proxy.lanhuapp.com/773080dea2a66c676063a1de4ce9beab)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 73px;
  width: 192px;
}

.text_60 {
  width: 102px;
  height: 54px;
  overflow-wrap: break-word;
  color: rgba(121, 219, 207, 1);
  font-size: 73px;
  font-family: BebasNeueRegular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 73px;
  margin: 78px 0 0 43px;
}

.text-wrapper_19 {
  width: 600px;
  height: 27px;
  margin: 25px 0 87px 153px;
}

.text_61 {
  width: 55px;
  height: 27px;
  overflow-wrap: break-word;
  color: rgba(0, 255, 242, 1);
  font-size: 27px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 27px;
}

.text_62 {
  width: 57px;
  height: 27px;
  overflow-wrap: break-word;
  color: rgba(0, 255, 242, 1);
  font-size: 27px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 27px;
  margin-left: 216px;
}

.text_63 {
  width: 56px;
  height: 26px;
  overflow-wrap: break-word;
  color: rgba(0, 255, 242, 1);
  font-size: 27px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 27px;
  margin-left: 216px;
}
